* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  background: #1e4363;
}

.slider .slides {
  min-height: 80vh !important;
}

#logo {
  margin-left: 15px;
  color: #33eceb;
}

.header {
  margin-top: 4px;
}

.container {
  width: 90% !important;
  max-width: inherit;
}

.section {
  margin-bottom: 0;
}

li.indicator-item.active {
  background-color: chocolate !important;
}
.halfway-fab {
  top: 252px;
}

#search {
  width: 90%;
}

#searchicon {
  position: absolute;
  top: 100px;
  right: 10px;
}
.card-image {
  width: 50%;
  background-position: center;
  background-size: cover;
}

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  .btn {
    margin: 20px 4px 0 4px;
  }
  h5 {
    margin-bottom: 35px;
  }
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
}

#nav-profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: 12px;
}

.nav-wrapper {
  background: rgba(0, 0, 0, 0.75);
}
.row .col.l4 {
  width: 50%;
}

#user-dropdown {
  position: fixed;
  top: -52px;
  left: -12px;
  margin: 0;
  width: 100px;
}

.caption {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7), -2px -2px 8px rgba(0, 0, 0, 0.7),
    2px -2px 8px rgba(0, 0, 0, 0.7), -2px 2px 8px rgba(0, 0, 0, 0.7);
}

///////// profile page //////////

#userImg {
  border-radius: 50%;
  margin: 0 12px;
  border: 1px solid white;
}

.profile {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

#userName {
  margin: 0;
  align-self: flex-end;
}
.card-content {
  overflow: scroll !important;
  margin-bottom: 60px !important;
  margin-top: 5px !important;
}

@media only screen and (max-width: 601px) {
  p {
    font-size: 0.8em !important;
  }
  card-title {
    font-size: 0.8em !important;
  }
  a.brand-logo {
    font-size: 1.5em;
  }
  #logo {
    position: absolute;
    top: 18px;
    right: 130px;
  }
}

footer {
  text-align: center;
}

.map {
  height: 90%;
  width: 100%;
}

.card-reveal {
  padding: 0 !important;
}
