<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/styles/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Home</title>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="blue-grey darken-1">
        <div class="nav-wrapper">
          <a href="/index.html" class="brand-logo"><i id="logo" class="fas fa-gem"></i>East Bay Gems</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="home.html">Browse</a></li>
            <li><a href="home.html">Random</a></li>
            <li><a href="home.html">Search</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <header>

    </header>
      <div class="container">
        <div class="row section">
          <div class="col s12 m7 l12">
            <div class="card-panel orange lighten-2">
              <h2 class="header">Find hidden gems in the East Bay submitted by users</h2>
              <span class="white-text">I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
              </span>
              </div> 
            </div>
        </div>
        <div  class="row">
          <div id="gems" class="col m12 l9">
          </div>
          <div id="sidebar" class="col l3">
            <ul class="collection with-header">
              <li class="collection-header">
                <h5>Filter Results</h5>
              </li>
              <li class="collection-item">
                <h6>What are you looking for?</h6>
                <form action="#">
                  <p>
                    <label> 
                      <input  id="people" type="checkbox"/><span>People</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input  id="places" type="checkbox"/><span>Places</span>
                    </label>
                  </p>
                </li>
              <li class="collection-item">
                <h6>City</h6>
                <form action="#">
                  <p>
                    <label>
                      <input type="checkbox"/><span>Berkeley</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox"/><span>Oakland</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox"/><span>Emeryville</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox"/><span>El Cerrito</span>
                    </label>
                  </p>
                </form>
              </li>
              <li id="places_menu" class="collection-item hide">
                <h6>Type</h6>
                <form action="#">
                  <p>
                    <label>
                      <input type="checkbox"/><span>Park</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox"/><span>Bar</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox"/><span>Restaurant</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox"/><span>Person</span>
                    </label>
                  </p>
                </form>
              </li>  
            </ul>
          </div>
        </div>
        
      </div>
    
    
    
    <!-- Materialize JS -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/materialize.min.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
