<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Import Google Sign In -->
    <meta name="google-signin-scope" content="profile email" />
    <meta
      name="google-signin-client_id"
      content="686275522190-khigsu6pv3vmv69ieqlmgde63jc6b23p.apps.googleusercontent.com"
    />
    <!-- Import Google Icon Font -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Import materialize.css -->
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/styles/materialize.min.css"
      media="screen,projection"
    />
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <link
      rel="icon"
      type="image/png"
      href="/images/favicon.png"
      sizes="24x24"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />

    <title>East Bay Gems</title>
  </head>

  <body>
    <!-- Nav Bar -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a
            class="dropdown-trigger sidenav-trigger"
            href="#"
            data-target="dropdown1"
            ><i class="material-icons">menu</i></a
          >

          <a href="/" class="brand-logo"
            ><i id="logo" class="fas fa-gem"></i>East Bay Gems</a
          >
          <ul class="right">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/home.html">Browse</a></li>
              <li><a href="/about.html">About</a></li>
            </ul>
            <li id="sign-in-button">
              <a
                class="waves-effect waves-light btn modal-trigger"
                href="#sign-in"
                >Login</a
              >
            </li>
            <li>
              <a
                id="nav-profile-pic"
                class="hide dropdown-trigger"
                data-target="user-dropdown"
              ></a>
            </li>
          </ul>
        </div>
      </nav>
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/home.html">Browse</a></li>
        <li><a href="/about.html">About</a></li>
      </ul>
    </div>

    <!-- Sign in start -->
    <!-- User Dropdown -->
    <ul id="user-dropdown" class="dropdown-content">
      <li><a href="profile.html">Profile</a></li>
      <li class="divider" tabindex="-1"></li>
      <li><a href="#" onclick="signOut();">Sign out</a></li>
    </ul>

    <!-- Sign in modal -->
    <div id="sign-in" class="modal">
      <div class="modal-content sign-in">
        <h5>Sign in</h5>
        <div
          id="my-signin2"
          class="g-signin2"
          data-onsuccess="onSignIn"
          data-theme="dark"
        ></div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat"
          >Close</a
        >
      </div>
    </div>
    <!-- Sign in end -->

    <div class="slider"><ul id="featured" class="slides"></ul></div>

    <!-- Materialize JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/scripts/materialize.min.js"></script>
    <script type="text/javascript" src="/scripts/login.js"></script>
    <script type="text/javascript" src="/scripts/featured.js"></script>
    <script
      src="https://apis.google.com/js/platform.js?onload=renderButton"
      async
      defer
    ></script>
  </body>
</html>
