* {
  box-sizing: border-box;
}
body {
  background: #546e7a
}

.slider .slides{ 
  min-height: 80vh ;
  }

#logo {
  margin-left: 15px;
}


.header{
  margin-top: 4px;
}

.container{
  width: 90% ;
  max-width: inherit;
}

.section{
  margin-bottom: 0;
}

li.indicator-item.active{
  background-color: chocolate !important;
}

.center-cropped {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}